# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\github\u2-net\U-2-Net\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
